Sucesión aritmética: $$a_{n} = a_{1} + (n - 1)\cdot d$$

### Sea una sucesión cuyos tres primeros términos son 200, 224 y 248. Si la sucesión mantiene el mismo patrón de crecimiento sucesivamente.

##### Pregunta 1: El valor del término que ocupa el lugar 36 en esta sucesión es

In [ ]:
def A(n):
    return a1 + (n-1)*d

a1 = 200 # Primer termino de la sucesión
d = 224 - 200

print(A(36))

1040

##### Pregunta 2: ¿Cuál es la suma de los primeros 36 términos de esta sucesión?

In [ ]:
#for
lista = []

for n in range(1, 37):
    lista.append(A(n)) 

print(sum(lista))

22320

In [ ]:
#while
termino = 200
d = 24
n=1
suma = 0
while n<=36:
    suma += termino
    termino += d
    n+=1

print(suma)

22320

Sucesión geométrica: $$a_{n} = a_{1} \cdot r^{n-1}$$

Una cuenta de ahorros proporciona un interés mensual del 1,2%. La cuenta se abre con $2.000.000. En este contexto, se define $An$ como el saldo en pesos que presenta esta cuenta de ahorros transcurridos $n$ meses.

##### Pregunta 3: La expresión algebraica que permite calcular cada término de la sucesión $An$ es:

In [21]:
def A(n):
    return a1 * r**(n-1)

a1 = 2000000
r = (1.2/100)+1

##### Pregunta 4: El saldo aproximado, en la cuenta de ahorros al cabo de 9 meses será:

In [22]:
suma = 0
lista = []

for n in range(1, 10):
    lista.append(A(n))
    
print(f"El saldo aproximado en la cuenta de ahorros al cabo de 9 meses será de: {round(lista[9-1],0)}")

El saldo aproximado en la cuenta de ahorros al cabo de 9 meses será de: 2200260.0

##### Una empresa de tecnología está optimizando sus servidores. Para ello, mide cada mes las transacciones por segundo (TPS) de sus servidores. Se ha obtenido que el segundo mes, el rendimiento del servidor es 1.066 TPS y el quinto mes, el rendimiento es de 8.528 TPS.

##### Pregunta 5: Si el rendimiento de los servidores crece a razón constante, ¿cuál es el rendimiento de un servidor el noveno mes?. Complete según corresponda. Ingrese valor sin unidad de medida y aproxime su resultado al entero.

In [ ]:
def A(n):
    return a1 * r**(n-1)

a2 = 1066
a5 = 8528

r = (a5/a2) ** (1/3)
print(r)

a1 = (a2 / r) # Determinamos a1

print(A(9))

2.0
136448.0

##### Pregunta 6: Si el rendimiento de los servidores crece a razón constante, ¿en qué mes el rendimiento de un servidor es de 34.112 TPS? Complete según corresponda. Ingrese valor sin unidad de medida. Ejemplo: 25.

In [ ]:
servidores = []
valor_buscado = 34112

for n in range(1, 100):
    servidores.append(A(n))
    
if valor_buscado in servidores:
    print(servidores.index(valor_buscado)+1)
else:
    print("El valor buscado no se encuentra en la lista")

7

##### Pregunta 7: Un local comercial se arrendó por 2 años y durante ese periodo, el valor del arriendo se incrementó todos los meses en una cantidad constante. En el cuarto mes, el valor del arriendo fue $1.108.000 y en el décimo segundo mes el valor del arriendo fue $1.396.000.

##### El valor del arriendo en el primer mes fue $

##### En el mes ___ el arriendo tuvo un valor de $1.828.000.

In [ ]:
def A(n):
    return a1 + (n-1)*d

a4 = 1108000
a10 = 1396000

d = (a10 - a4)/6

a1 = a4 - (3*d)
print(a1)


valor_buscado = 1828000
arriendo = []
for n in range(1, 25):
    arriendo.append(A(n))
    
if valor_buscado in arriendo:
    print(f"En el mes {arriendo.index(valor_buscado)+1}")

964000.0
En el mes 19

##### Pregunta 8: Una compañía que fabrica paneles solares tiene 2 plantas de producción y 3 bodegas de almacenamiento. La matriz $T$ igual abrir paréntesis $Tij$ representa las unidades producidas mensualmente en la planta $i$ y que son transportadas a la bodega $j$ para ser almacenadas durante su respectivo mes de producción.


T = np.array([[300, 272, 240],
              [260, 180, 324]])



##### Por otra parte, la matriz $U$ igual abrir $Uij$ representa el costo (en pesos) de almacenar $1$ unidad de este producto durante el mes $j$ (enero y febrero) en la bodega $i$.

U = np.array([[1200, 1250],
              [1100, 1400],
              [1350, 1200]])

##### ¿Cuánto dinero costó almacenar los paneles de la planta 2 en el mes de febrero?

In [ ]:
import numpy as np
T = np.array([[300, 272, 240],
              [260, 180, 324]])

U = np.array([[1200, 1250],
              [1100, 1400],
              [1350, 1200]])


C = T.dot(U)

print(C)

[[ 983200 1043800]
 [ 947400  965800]]